@import url(./fonts/stylesheet.css);

:root.light {
    --txt-color: black;
    --bg-color: #dfdfdf;
    --fieldset-color: #f1f1f1;
    --fieldset-shadow: 0px 2px 10px #5f5f5f53;
    --accent-color: #fe700b;
    --accent-color-2: #f46f5a;
    --content-padding: 50px;
    --tooltip-bg: #3e3d37;
    --tooltip-txt-color: white;
    --aside-bg: url('./img/aside-light.jpg');
    --img-bar-color: #3636369d;
    --img-bar-text: black;
    --form-invalid-color: rgb(252, 9, 9);
}

:root.dark {
    --txt-color: white;
    --bg-color: #1f1736;
    --fieldset-color: #24193f;
    --fieldset-shadow: none;
    --accent-color: #6416ff;
    --accent-color-2: #6955d9;
    --content-padding: 50px;
    --tooltip-bg: #dddacc;
    --tooltip-txt-color: black;
    --aside-bg: url('./img/aside-dark.jpg');
    --img-bar-color: #e7e0e09d;
    --img-bar-text: white;
    --form-invalid-color: rgb(117, 105, 182);
    
}

body {
    font-family: "FuturaRenner";
    color: var(--txt-color);
    font-size: 1.1rem;
}

p {
    margin-bottom: 20px;;
}

.wrapper {
  display: flex;
  min-height: 100vh;
}

aside {
    position: relative;
    display: flex;
    
    flex: 0.8;
    flex-direction: column;
    justify-content: space-between;

    /* background-image: var(--aside-bg); */
    /* background-size:cover; */
}

aside img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
}

#aside-light {
    opacity: 1;
}

#aside-dark {
    opacity: 0;
}

main {
    background: var(--bg-color);
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}

.img-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 184px;
    padding: 10px;
    width: 100%;
    height: 120px;

    font-family: "Norse";
    color: --img-bar-text;
    font-size: 2.8rem;
    
}

fieldset {
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    
    padding: var(--content-padding);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 250px;
    background: var(--fieldset-color);
    border: none;
    box-shadow: var(--fieldset-shadow);
}

legend {
    background: var(--accent-color);
    padding: 10px;;
    color: white;
}

fieldset div {
    width: 250px;
    padding: 10px;
}

input {
    width: 100%;
    padding: 5px;
    border: 1px solid #c9c7c7a3;
    border-radius: 5px;
}

a {
    color: inherit;
    margin: 0 5px;
}

.text-info,
.login {
    padding-left: var(--content-padding);
}

form button {
    margin-left: calc(var(--content-padding) + 6px);
    margin-top: 20px;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    background: var(--accent-color);
}

.text-info {
    font-weight: bold;
    width: 60ch;
    font-size: 1.4rem;
}

/* Forms styling */

input:required + span {
    position: relative;
    left: 170px;
    top: -70px;
}

input:required +span::after {
    background: var(--accent-color-2);
    color: rgb(255, 255, 255);
    content: "required";
    font-size: 0.8rem;
    padding: 5px;
}

input:invalid {
    border: 1px solid var(--form-invalid-color);
}

input:valid + span::after {
    opacity: 0;
}

.text-container {
    display: flex;
}

.theme-toggle {
    position: relative;
    background: none;
    border: none;
    top: -30px;
    left: 85px;
    transition: all 0.3s;
    cursor: pointer;
}

.text-container button:hover {
    transform: scale(1.2) rotate(45deg);
}

span {
    display: inline-block;
}

#credits {
    display: flex;
    justify-content: center;

    font-size: 0.8rem;
    color: white;
}

/* Tooltip styling */

.tooltip {
    position: relative;
    color: var(--accent-color);
    cursor: help;
    transition: all ease 0.3s;
}

.tooltip::before,
.tooltip::after {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    transition: all ease 0.3s;
}

.tooltip:hover::before,
.tooltip:hover::after {
    opacity: 1;
}

.tooltip:before {
    content: "";
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
    border-width: 10px 8px 0 8px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3) transparent transparent transparent;
    z-index: 100;
}

.tooltip:after {   
    content: attr(data-text);
    left: 50%;
    top: -6px;
    transform: translateX(-30%) translateY(30%);
    left: -15px;
    padding: 10px;
    border-radius: 5px;
    min-width: 200px;
    background: var(--tooltip-bg);
    font-size: 0.9rem;
    color: var(--tooltip-txt-color);
    z-index: 999;
}
